@tailwind base;
@tailwind components;
@tailwind utilities;

 /*TEXT-COLOR*/

.text-paragraph {
    color: rgba(51,51,51,1);
  }

.text-secondary-400{
    color: rgba(217,143,124,1);
}

.text-placeholder{
    color: rgba(136,136,136,1);
}

 /*BACKGROUND-COLOR*/

 .bg-secondary-400{
    background-color: rgb(217, 143, 124);
}

 /*BORDER-COLOR*/

.border-secondary-400{
    border-color: rgba(217,143,124,1);
}

 /*BOX-SHADOW*/

 .shadow-xl-gray{
    box-shadow: 0 0 transparent, 0 0 transparent, 0 0 transparent, 
    0 20px 25px -5px rgba(0, 0, 0, .1), 0 10px 10px -5px rgba(0, 0, 0, .1), 0 -5px 25px -5px rgba(0, 0, 0, .05), 0 -2.5px 10px -5px rgba(0, 0, 0, .05);
}

